
@font-face {
    font-family: 'Pixelta';
    src: url('fonts/Pixelta.ttf');
}

th, td {
    border-style: outset;
    font-size: 30px
}

body {
    font-family: 'Pixelta', sans-serif;
}

.casino {
    background-color: darkgreen;
    font-family: 'Pixelta', sans-serif;
}

.counter {
    color: red;
    text-align: center;
    font-size: 1000%;
}

.msg {
    letter-spacing:5px;
}

div {
    text-align: center;
    justify-content: center;
    gap: 5px;
}

.other {
    width: 1000px;
    height: 600px;
    float: right;
}

.card {
    width: 80px;
    height: 107px;
}

.man {
    position: absolute;
    top: 297px;
    left:775px;
    width:600px;
    height:402px;
    image-rendering:pixelated;
    visibility:hidden;
}

input {
    width: 70px;
    height:55px;
    font-size:larger;
    margin:0;
}

.flyer {
    display:flex;
    align-items:center;
    gap:5px;
    justify-content:flex-start;
}

.sym {
    height:80px;
    width:80px;
}

.multiplier {
    margin:0;
    transform: scale(1.6);
}
