
@font-face {
    font-family: 'Pixelta';
    src: url('fonts/Pixelta.ttf');
}

th, td {
    border-style: outset;
    font-size: 30px
}

body {
    font-family: 'Pixelta', sans-serif;
}

.casino {
    background-color: darkgreen;
    font-family: 'Pixelta', sans-serif;
}

h1 {
    color: red;
    text-align: center;
    font-size: 1000%;
}

.msg {
    letter-spacing:5px;
}

div {
    text-align: center;
    justify-content: center;
    gap: 5px;
}

.other {
    width: 1000px;
    height: 600px;
    float: right;
}

.card {
    width: 71px;
    height: 95px;
}
